<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/signup">
    <h3>Signup</h3><br>
    <p>Username:</p>
    <input type="text"name="username" id='nameid'><br>
    <br>
    <p>Password:</p>
    <input type="password" name='password' id='passid'><br>
    <p>Re Password:</p>
    <input type="password" name='repassword' id='repassid'><br>
<br>
    <button>Login</button>
</form>
    
</body>
</html>